.btn {
    padding: 0.7em 0.85em;
    text-transform: uppercase;
    font-weight: $font-bold;
    color: $light-color;
    font-size: 1em;
    border-radius: $s-border-radius;
    border: none;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
}

.btn-gray {
    background-color: $med-gray;
}

.btn-red {
    background-color: $red-accent;
}

.btn-green {
    background-color: $green-accent;
}

.divider {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    margin: 1.8em 0;
}

.signup-link {
    color: $light-color;
    text-transform: uppercase;
    font-size: 0.46em;
    font-weight: $font-bold;
    margin: 2.7em;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.pure-form {
    width: 80%;
}

.form-group {
    label {
        color: $light-color;
        text-transform: uppercase;
        font-size: 0.75em;
        padding-left: 0.5em;
    }

    input {
        width: 100%;

        &::placeholder {
            text-transform: uppercase;
            font-size: 0.75em;
        }
    }

    .signup-link {
        display: block;
    }
}

.with-btn {
    text-align: center;
}

.form-group:not(:first-child) {
    margin-top: 1em;
}

.pure-form input[type=text], .pure-form input[type=password] {
    border: none;
    box-shadow: none;
    padding: 0.6em;
    margin-top: 0.5em;
}