@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://unpkg.com/purecss@2.0.3/build/pure-min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  color: #414141;
  font-size: 1.2em;
}

h2 {
  color: #afafaf;
  font-size: 0.81em;
  font-weight: 400;
}

p {
  color: #191919;
  font-size: 0.6em;
  letter-spacing: -0.03em;
  line-height: 1.37;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  padding: 0.7em 0.85em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1em;
  border-radius: 0.31em;
  border: none;
  -webkit-box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
}

.btn-gray {
  background-color: #696969;
}

.btn-red {
  background-color: #c50308;
}

.btn-green {
  background-color: #8aba00;
}

.divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  margin: 1.8em 0;
}

.signup-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.46em;
  font-weight: 700;
  margin: 2.7em;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.section-1 {
  background-size: 100%, 28.53em;
  background-position: center top, center 101%;
  background-repeat: no-repeat;
  background-color: #191919;
  background-image: url("../images/harftone-bg.svg"), url("../images/shoe-intro.png");
}

.section-1 .container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 11em;
}

.section-1 .container img {
  display: block;
  max-width: 50%;
  margin-bottom: 1em;
}

.section-2 {
  background-color: pink;
}

.section-3 {
  background-color: red;
}

.section-4 {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section-4 .catergory {
  background-color: white;
  width: 355px;
  height: 153px;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: thin red solid;
  position: relative;
}

.section-4 .catergory .catergory-title {
  font-weight: 700;
  color: #afafaf;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
  border: thin blue solid;
}

.section-4 .catergory .catergory-image {
  border: thin green solid;
}

.section-4 .catergory .catergory-image img {
  display: block;
  width: 50%;
  margin: auto;
}

.section-5 {
  background-color: green;
}

.section-6 {
  background-color: orange;
}

.section-7 {
  background-color: gray;
}

.section-8 {
  background-color: hotpink;
}

.section-9 {
  background-color: lime;
}

.section-10 {
  background-color: teal;
}

.section.active {
  z-index: 60;
}

.footer {
  min-height: 8.125em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: indianred;
}

.footer.active {
  z-index: 90;
}
/*# sourceMappingURL=style.css.map */