@import './base', './layout', './modules';

.section-1 {
    @include intro-images(28.53em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-intro.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 11em;

        img {
            display: block;
            max-width: 50%;
            margin-bottom: 1em;
        }
    }
}


.section-2 {
    @include intro-images(25.18em, 103%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/boot-signin.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-3 {
    @include intro-images(25.18em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-signup.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-4 {
    background-color: $light-color;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .catergory{
        background-image: $gray-type-gradient;
        width: 22.1875em;
        height: 9.5625em;
        margin: 0.5em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        padding-bottom: 0.5em;
        border-radius: $m-border-radius;

        .catergory-title{
            font-weight: $font-bold;
            color: $light-gray;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(-1em);
        }

        .catergory-image {

            img {
                display: block;
                width: 70%;
                margin: auto;
            }
        }
    }


}

.section-5 {
    background-color: $light-color;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .listing{
        display: flex;
        width: 22.1875em;
        margin: 0.5em;
        position: relative;
        padding-bottom: 0.5em;
        background-image: $gray-item-gradient;
        border-radius: $m-border-radius;

        .listing-content{
            flex: 1 0 50%;
            margin: 0 0.5em 0 0.5em;

            .listing-text{

                    p{
                        padding-left: 0.2em;
                        padding-right: 1em;
                    }

                        h2{
                            padding-bottom: 9px;

                        }

            }

            .price{
                span{
                    font-weight: bold;
                }
            }
            .gender{
                display: row;
                padding: 4px 12px;
                position: absolute;
                width: 59px;
                height: 23px;
                background-color: $red-accent;
                border-radius: $type-border-radius;

                p{
                    display: block;
                    align-items: center;
                }
            }
        }

        .listing-image{
            flex: 0 0 40%;

            img {
                display: block;
                position: absolute;
                width: 11em;
                height: 8.6em;
                left: 200px;
                top: 38px;
            }
        }
      }

    }

.section-6 {
    background-color: orange;
}

.section-7 {
    background-color: gray;
}

.section-8 {
    background-color: $light-color ;
}

.section-9 {
    background-color: lime;
}

.section-10 {
    background-color: teal;
}

.section.active {
    z-index: 60;
}


