@import './base', './layout', './modules';

.section-1 {
    @include intro-images(28.53em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-intro.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        padding-top: 11em;

        img {
            display: block;
            max-width: 50%;
            margin-bottom: 1em;
        }
    }
}


.section-2 {
    @include intro-images(25.18em, 103%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/boot-signin.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        padding-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-3 {
    @include intro-images(25.18em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-signup.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        padding-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-4 {
    background-color: blue;
}

.section-5 {
    background-color: green;
}

.section-6 {
    position: relative;

    .description-image {
        position: relative;
        z-index: 20;

        img {
            display: block;
            width: 100%;
            border-radius: $l-border-radius-bottom;
            box-shadow: 0 0.5em 1.5em rgba(0,0,0,0.1);
        }   
    }

    .description-wrap {
        width: 100%;
        height: 100%;
        padding: 0 0.6em;
        margin-top: -1em;
    }

    .description-container {
        background-image: $gray-page-gradient;
        height: 100%;
    }
}

.section-7 {
    background-color: gray;
}

.section-8 {
    background-color: $light-color;

    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

    }
    
    .header {
        background-image: $gray-item-gradient;
        width: 100%;
        text-align: center;
        border-radius: $l-border-radius-bottom;
        
        h1 {
            color: $dark-gray;
            margin: 0;
            padding-top: 2em;
            padding-bottom: 0.8em;
        }
    }

    .pure-form {
        padding-top: 0.5em;
    }

    .with-btn {
        margin: 0;
    }

    .btn {
        box-shadow: none;
    }

    .form-group {
        label {
            color: $dark-gray;
        }
    }

    .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=file], .pure-form textarea {
        border: thin rgba(0,0,0,0.1) solid;
    }
}

.section-9 {
    background-color: $light-color;

    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

    }
    
    .header {
        background-image: $gray-item-gradient;
        width: 100%;
        text-align: center;
        border-radius: $l-border-radius-bottom;
        
        h1 {
            color: $dark-gray;
            margin: 0;
            padding-top: 2em;
            padding-bottom: 0.8em;
        }
    }

    .pure-form {
        padding-top: 0.5em;
    }

    .with-btn {
        margin: 0;
    }

    .btn {
        box-shadow: none;
    }

    .form-group {
        label {
            color: $dark-gray;
        }
    }

    .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=file], .pure-form textarea {
        border: thin rgba(0,0,0,0.1) solid;
    }
}

.section-10 {
    background-color: $light-color;

    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

    }
    
    .header {
        background-image: $gray-item-gradient;
        width: 100%;
        text-align: center;
        border-radius: $l-border-radius-bottom;
        
        h1 {
            color: $dark-gray;
            margin: 0;
            padding-top: 2em;
            padding-bottom: 0.8em;
        }
    }

    .pure-form {
        padding-top: 0.5em;
    }

    .with-btn {
        margin: 0;
    }

    .btn {
        box-shadow: none;
    }

    .form-group {
        label {
            color: $dark-gray;
        }
    }

    .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=file], .pure-form textarea {
        border: thin rgba(0,0,0,0.1) solid;
    }
}




