@import './base', './layout', './modules';

.section-1 {
    @include intro-images(28.53em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-intro.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 11em;

        img {
            display: block;
            max-width: 50%;
            margin-bottom: 1em;
        }
    }
}


.section-2 {
    @include intro-images(25.18em, 103%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/boot-signin.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-3 {
    @include intro-images(25.18em, 101%);
    background-color: $dark-color; 
    background-image: url('../images/harftone-bg.svg'),
                      url('../images/shoe-signup.png');
    
    .container {
        min-height: 100%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 3.625em;

        img {
            display: block;
            max-width: 7em;
            margin-bottom: 1em;
        }

        h1 {
            color: $light-color;
            margin: 0;
        }
    }
}

.section-4 {
    background-color: $light-color;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .catergory{
        background-image: $gray-type-gradient;
        width: 355px;
        height: 153px;
        margin: 0.5em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        padding-bottom: 0.5em;
        border-radius: $m-border-radius;

        .catergory-title{
            font-weight: $font-bold;
            color: $light-gray;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(-1em);
        }

        .catergory-image {

            img {
                display: block;
                width: 70%;
                margin: auto;
            }
        }
    }


}

.section-5 {
    background-color: green;
}

.section-6 {
    background-color: orange;
}

.section-7 {
    background-color: gray;
}

.section-8 {
    background-color: $light-color ;
}

.section-9 {
    background-color: lime;
}

.section-10 {
    background-color: teal;
}

.section.active {
    z-index: 60;
}


