@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://unpkg.com/purecss@2.0.3/build/pure-min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  color: #414141;
  font-size: 1.2em;
}

h2 {
  color: #afafaf;
  font-size: 0.81em;
  font-weight: 400;
}

p {
  color: #191919;
  font-size: 0.6em;
  letter-spacing: -0.03em;
  line-height: 1.37;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  padding: 0.7em 0.85em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1em;
  border-radius: 0.31em;
  border: none;
  -webkit-box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
}

.btn-gray {
  background-color: #696969;
}

.btn-red {
  background-color: #c50308;
}

.btn-green {
  background-color: #8aba00;
}

.divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  margin: 1.8em 0;
}

.signup-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.46em;
  font-weight: 700;
  margin: 2.7em;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.pure-form {
  width: 80%;
}

.form-group label {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-left: 0.5em;
}

.form-group input {
  width: 100%;
}

.form-group input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group input::placeholder {
  text-transform: uppercase;
  font-size: 0.75em;
}

.form-group .signup-link {
  display: block;
}

.with-btn {
  text-align: center;
}

.form-group:not(:first-child) {
  margin-top: 1em;
}

.pure-form input[type=text], .pure-form input[type=password] {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.6em;
  margin-top: 0.5em;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c50308;
  border-radius: 1.375em 1.375em 0 0;
}

.footer .user-info {
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .user-profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-left: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .user-profile .profile-image {
  width: 1.66em;
  height: 1.66em;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .user-profile .profile-image img {
  display: block;
  width: 100%;
}

.footer .user-profile .profile-image + p {
  padding-left: 1em;
  color: #fff;
  font-size: 0.7em;
}

.footer .user-profile .profile-image + p span {
  font-weight: 700;
}

.footer .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding-right: 1.2em;
}

.footer .logo img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.footer .nav {
  height: 5.56em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191919), color-stop(190.45%, #c50308));
  background-image: linear-gradient(180deg, #191919 0%, #c50308 190.45%);
  -webkit-box-shadow: 0px -0.31em 0.31em rgba(0, 0, 0, 0.25);
          box-shadow: 0px -0.31em 0.31em rgba(0, 0, 0, 0.25);
  border-radius: 1.375em 1.375em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.3em;
}

.footer .nav i {
  color: #fff;
  font-size: 1.93em;
}

.footer.active {
  z-index: 90;
}

.section-1 {
  background-size: 100%, 28.53em;
  background-position: center top, center 101%;
  background-repeat: no-repeat;
  background-color: #191919;
  background-image: url("../images/harftone-bg.svg"), url("../images/shoe-intro.png");
}

.section-1 .container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 11em;
}

.section-1 .container img {
  display: block;
  max-width: 50%;
  margin-bottom: 1em;
}

.section-2 {
  background-size: 100%, 25.18em;
  background-position: center top, center 103%;
  background-repeat: no-repeat;
  background-color: #191919;
  background-image: url("../images/harftone-bg.svg"), url("../images/boot-signin.png");
}

.section-2 .container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 3.625em;
}

.section-2 .container img {
  display: block;
  max-width: 7em;
  margin-bottom: 1em;
}

.section-2 .container h1 {
  color: #fff;
  margin: 0;
}

.section-3 {
  background-size: 100%, 25.18em;
  background-position: center top, center 101%;
  background-repeat: no-repeat;
  background-color: #191919;
  background-image: url("../images/harftone-bg.svg"), url("../images/shoe-signup.png");
}

.section-3 .container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 3.625em;
}

.section-3 .container img {
  display: block;
  max-width: 7em;
  margin-bottom: 1em;
}

.section-3 .container h1 {
  color: #fff;
  margin: 0;
}

.section-4 {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section-4 .catergory {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26.48%, #fff), color-stop(75.83%, #F7F7F7), color-stop(78.77%, #F0F0F0), to(#E2E2E2));
  background-image: linear-gradient(180deg, #fff 26.48%, #F7F7F7 75.83%, #F0F0F0 78.77%, #E2E2E2 100%);
  width: 22.1875em;
  height: 9.5625em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
}

.section-4 .catergory .catergory-title {
  font-weight: 700;
  color: #afafaf;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
}

.section-4 .catergory .catergory-image img {
  display: block;
  width: 70%;
  margin: auto;
}

.section-5 {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section-5 .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22.1875em;
  margin: 0.5em;
  position: relative;
  padding-bottom: 0.5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F3F3F3));
  background-image: linear-gradient(180deg, #fff 0%, #F3F3F3 100%);
  border-radius: 0.5em;
}

.section-5 .listing .listing-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0 0.5em 0 0.5em;
}

.section-5 .listing .listing-content .listing-text p {
  padding-left: 0.2em;
  padding-right: 1em;
}

.section-5 .listing .listing-content .listing-text h2 {
  padding-bottom: 9px;
}

.section-5 .listing .listing-content .price span {
  font-weight: bold;
}

.section-5 .listing .listing-content .gender {
  display: row;
  padding: 4px 12px;
  position: absolute;
  width: 59px;
  height: 23px;
  background-color: #c50308;
  border-radius: 0.25em;
}

.section-5 .listing .listing-content .gender p {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5 .listing .listing-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.section-5 .listing .listing-image img {
  display: block;
  position: absolute;
  width: 11em;
  height: 8.6em;
  left: 200px;
  top: 38px;
}

.section-6 {
  background-color: orange;
}

.section-7 {
  background-color: gray;
}

.section-8 {
  background-color: #fff;
}

.section-9 {
  background-color: lime;
}

.section-10 {
  background-color: teal;
}

.section.active {
  z-index: 60;
}
/*# sourceMappingURL=style.css.map */